<section class="columns is-multiline has-1px-gap">
    <div *ngFor="let image of images; let i = index;" class="column is-4">
        <figure class="image is-1by1 is-clickable" (click)="openModal(i)">
            <img [src]="image.thumb">
        </figure>
    </div>
</section>
<div class="rs-modal" [class.is-active]="modalActive">
    <img [src]="selectedImage.source">
    <div class="rs-nav">
        <span class="rs-prev" (click)="prevImage()">
            <svg:g arrow-left></svg:g>
        </span>
        <span class="rs-next" (click)="nextImage()">
            <!--${ require('../../../assets/angle-right.svg') }-->
        </span>
    </div>
    <button class="modal-close" (click)="closeModal()"></button>
</div>